.container-fluid{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.login-form{
    z-index: 2;
    margin: auto;
    padding: 50px;
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
    backdrop-filter: blur(10px);
    border-radius: 8px;
    margin: 0 20px;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}
.logo .logo-image{
    width: 50px;
    height: auto;
    margin-right: 20px;
}
.logo .logo-name{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: var(--primary-color);
}
.form-title{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}
.form-label{
    font-size: 18px;
    font-weight: 500;
}
.form-control{
    width: 400px;
    height: 40px;
}
.form-section{
    margin: 10px 0;
}
.login-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-button button{
    width: 100%;
    margin: 30px auto;
    font-size: 18px;
    background-color: var(--primary-color);
    color: white;
}
.form-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure background stays behind content */
}