<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/admin">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="residents">Residents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="rooms">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="beds">Beds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="complaints">Complaints</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-success me-md-4" type="submit" routerLink="newResident">Add new Resident</button>
                <button class="btn btn-outline-success" type="submit" (click)="logout()">Logout</button>
            </form>
        </div>
    </div>
</nav>


<!-- New User Modal -->
<div class="modal fade" id="mewResidentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form [formGroup]="registrationForm" (ngSubmit)="createNewUser()">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New Resident Registration</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text">Firstname</span>
                                <input type="text" aria-label="firstname" class="form-control"
                                    formControlName="fullName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text">Gender</span>
                                <select class="form-select" aria-label="Default select example" formControlName="gender">
                                    <option selected>Select gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="others">Others</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text">Phonenumber</span>
                                <input type="text" aria-label="phone" class="form-control"
                                    formControlName="phoneNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text">Email</span>
                                <input type="email" aria-label="email" class="form-control"
                                    formControlName="emailId">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>