
#residents .container-fluid {
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#residents .container-fluid> .row {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}
title{
    display: block;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

/*************************Filter section******************/
.filter-section{
    margin: 60px 0 40px 0;
}



/*********************datatable********************/

.table-container {
    padding: 20px;
}

.mat-elevation-z8 {
    margin-bottom: 20px;
}

.mat-table {
    width: 100%;
}

table td,th {
    text-align: center;
}



/*********************Modal**************/
.modal-title{
    font-size: 20px;
    color: var(--primary-color); ;
    font-weight: 600; 
}
.modal .section-title{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
    text-decoration: underline;
}
.bed-id{
    font-size: 20px;
    color: var(--primary-color); ;
    font-weight: 600;
}