.container-fluid {
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container-fluid .row {
    width: 100%;
    max-width: 1400px;
}

.table-container {
    padding: 20px;
}

.mat-elevation-z8 {
    margin-bottom: 20px;
}

.mat-table {
    width: 100%;
}

table td,th {
    text-align: center;
}